.chooseTheScientist {
  outline: 0;
  font-family: "Montserrat Alternates";

  height: auto;
  width: 1014px;
}

.chooseTheScientistName {
  display: flex;
  justify-content: center;

  color: #000;
  font-size: 16px;
  font-weight: 400;

  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 36px;
}

.chooseTheScientistDiv {
  margin: auto;

  height: 577px;
  width: 857px;
}
.chooseTheScientistImg1 {
  max-height: 372px;
  max-width: 695px;
  width: auto;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.chooseTheScientistImg {
  max-height: 372px;
  max-width: 695px;
  width: auto;
  padding-left: 59px;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.scientistDiv {
  width: 100px;
  height: 100px;

  flex-shrink: 0;

  text-align: center;

  justify-content: center;

  margin: 19.639854127985px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  border-radius: 20px;
  background: #d9d9d9;
}

.scientistDiv1 {
  width: 100px;
  height: 100px;

  flex-shrink: 0;

  text-align: center;

  justify-content: center;

  margin: 19.639854127985px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  color: #000;

  border-radius: 20px;
  background: #d9d9d9;
}

/* .chooseTheScientist  */

.chooseTheScientistQuestions {
  margin-top: 72px;
  margin-left: 40px;

  display: flex;
  justify-content: center;

  height: 216px;
  width: 857px;

  flex-flow: column wrap;
}

.questions1 {
  height: 216px;

  width: 380px;

  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */

  flex-flow: row wrap;
}

.questions2 {
  height: 216px;
  width: 441px;

  display: flex;
  justify-content: flex-start;

  flex-flow: row wrap;
}

.q8 {
  text-align: left;
}

.q9 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
}

.questions1 button,
.questions2 button,
.q9 {
  margin-bottom: 20px;

  min-height: 35px;
  width: auto;
  min-width: 227px;
  padding: 10px 20px;

  cursor: pointer;

  background-color: #000;
  color: #fff;

  border: none;
  border-radius: 20px;

  font-family: "Montserrat Alternates";

  font-size: 12px;
  font-weight: 400;

  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.q1:active,
.q2:active,
.q3:active,
.q4:active,
.q5:active,
.q6:active,
.q7:active,
.q8:active,
.q9:active {
  transform: translateY(2px);
  background-color: #1f1f1f;

  box-shadow: 1.5px 1.5px 0px 0px rgba(0, 0, 0, 0.4);
}
