.stoneScissorsPapier{
    

    outline: 0;
    font-family: 'Montserrat Alternates';
    
    height: 238px;
    width: 453px;

   

}

.stoneScissorsPapierName{
    
    display: flex;
    justify-content: center;

    color: #000; 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.stoneScissorsPapierFunctions{

    height: 182px;
    width: 453px;
    margin-top: 36px;
    margin-left: 47px;
    

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.stoneScissorsPapierGameDiv{

    height: 182px;
    width: 256px;

    margin: auto;
    display: flex;

    flex-flow: row wrap;

    justify-content: center;
}

.stoneScissorsPapierBtnDiv{
    
    height: 60px;
    width: 256px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;


}

.stoneScissorsPapierBtnDiv button{
    
    height: 60px;
    width: 60px;
    border: none;

    cursor: pointer;
    transition: 0.2s;

    border-radius: 20px;

    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);

}

.stoneScissorsPapierShowResult{
    
    height: 35px;
    width: 182px;

    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;

    cursor: pointer;
    transition: 0.2s;
    
    text-align: center;
    justify-content: baseline;

    background-color: #000;
    border: none;
    border-radius: 20px;

    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);

    font-family: 'Montserrat Alternates';

}

.stoneScissorsPapierScoreLi{
    
    list-style-type: none;
    
    height: 60px;
    min-width: 93px;
    box-sizing: border-box;

    

    


}

.stoneScissorsPapierFunctions .stoneScissorsPapierResult, .stoneScissorsPapierScoreLi p{
    font-size: 12px;
    font-weight: 400;
}

.hr3{

    width: 536px;
    height: 1px;
    background-color: #000;
    margin: 36px auto;

}

.stoneBtn:active, .scrissorsBtn:active, .papierBtn:active, .stoneScissorsPapierShowResult:active {
    transform: translateY(2px);
    background-color: #1f1f1f;

    box-shadow: 1.5px 1.5px 0px 0px rgba(0,0,0,0.40);
}

